body {
  background-color: bisque;
}

.App {
  width: 40%;
  background-color: lightgoldenrodyellow;
  text-align: center;
  margin: auto;
  padding: 15px;
  height: 100vh;
  overflow: auto;
}

.Task {
  padding: 10px;
  background-color: lightgoldenrodyellow;
  margin-top: 10px;
}

.NewTask {
  padding: 10px;
  background-color: beige;
  border: 2px solid;
  margin: auto;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
}

input {
  width: 70%;
}

span {
  width: 70%;
  text-align: left;
  overflow: hidden;
  border: 1px solid;
  border-radius: 4px;
}

